---
import { Icon } from "astro-icon";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Piyush's Custom Slugs">
  <div
    class="h-full flex flex-col items-center justify-center text-4xl lg:text-6xl font-black"
  >
    <div class="flex items-center justify-center">
      <span class="text-zinc-500">pycz.dev/</span>
      <input
        placeholder="github"
        class="outline-none w-1/3 underline bg-zinc-900 text-zinc-300 placeholder-zinc-600 text-3xl lg:text-5xl"
        type="text"
      />
    </div>
  </div>
</Layout>
