---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Piyush's corner">
  <div
    class="h-full flex flex-col items-center lg:items-start justify-center text-4xl lg:text-8xl font-black uppercase"
  >
    <div>Cloud</div>
    <div>System</div>
    <div>Backend</div>
    <div>Frontend</div>
    <div class="flex">
      <span class="text-zinc-500 underline decoration-double lg:no-underline">PYCZ{'>'}</span>
      <span class="hidden lg:block">Fullstack</span>
    </div>
  </div>
</Layout>
