---
import LogosLinkedinIcon from '~icons/logos/linkedin-icon'
import LogosTwitter from '~icons/logos/twitter'
import LogosDiscordIcon from '~icons/logos/discord-icon'
import MdiGithub from '~icons/mdi/github'

import Layout from "../layouts/Layout.astro";
---

<Layout title="Piyush's corner">
  <div
    class="h-full flex flex-col items-center lg:items-start justify-center text-4xl lg:text-8xl font-black uppercase"
  >
    <div>Cloud</div>
    <div>System</div>
    <div>Backend</div>
    <div>Frontend</div>
    <div class="flex">
      <span class="text-zinc-500 underline decoration-double lg:no-underline">PYCZ{'>'}</span>
      <span class="hidden lg:block">Fullstack</span>
    </div>
    <div class="mt-4 flex gap-4">
      <a href="/linkedin" target="_blank"><LogosLinkedinIcon class="h-8 w-8" name="logos:linkedin-icon" /></a>
      <a href="/twitter" target="_blank"><LogosTwitter class="h-8 w-8" name="logos:twitter" /></a>
      <a href="/discord" target="_blank"><LogosDiscordIcon class="h-8 w-8" name="logos:discord-icon" /></a>
      <a href="/github" target="_blank"><MdiGithub class="h-8 w-8" name="mdi:github" /></a>
    </div>
  </div>
</Layout>
