---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Piyush's corner">
  <div
    class="h-full flex flex-col items-center lg:items-start justify-center text-4xl lg:text-8xl font-black uppercase"
  >
    <div>Cloud</div>
    <div>System</div>
    <div>Backend</div>
    <div>Frontend</div>
    <div class="flex">
      <span class="text-zinc-500 underline decoration-double lg:no-underline"
        >PYCZ{">"}</span
      >
      <span class="hidden lg:block">Fullstack</span>
    </div>
    <div class="mt-4 flex gap-4">
      <a href="/linkedin" target="_blank"
        ><div class="h-8 w-8" i-logos-linkedin-icon></div></a
      >
      <a href="/twitter" target="_blank"
        ><div class="h-8 w-8" i-logos:twitter></div></a
      >
      <a href="/discord" target="_blank"
        ><div class="h-8 w-8" i-logos:discord-icon></div></a
      >
      <a href="/github" target="_blank"
        ><div class="h-8 w-8" i-mdi:github></div></a
      >
      <a href="/anilist" target="_blank"
        ><div class="h-8 w-8" i-simple-icons-anilist></div></a
      >
      <a href="/mydramalist" target="_blank"
        ><div
          class="h-8 w-8"
          i-twemoji-hand-with-index-finger-and-thumb-crossed-light-skin-tone
        >
        </div></a
      >
    </div>
  </div>
</Layout>
