---
import { Icon } from "astro-icon";
---

<div class="py-4 border-b-2 border-zinc-700">
  <div class="max-w-6xl mx-auto flex justify-between items-center">
    <div class="flex gap-2 items-center">
        <Icon class="h-8 w-8" name="pixelarticons:downasaur" />
        Piyush
    </div>
  </div>
</div>
