---
import PixelarticonsDownasaur from '~icons/pixelarticons/downasaur'
import RiGithubFill from '~icons/ri/github-fill'
---

<div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
  <div class="flex gap-2 items-center uppercase">
    <PixelarticonsDownasaur class="h-8 w-8" name="pixelarticons:downasaur" />
    <span class="font-black text-xl">Piyush</span>
  </div>

  <div>
    <a
      class="flex items-center justify-center gap-2 px-8 py-1 border-2 border-zinc-600 rounded hover:bg-zinc-800"
      href="https://github.com/officialpiyush"
      target="_blank"
    >
      <RiGithubFill class="h-8 w-8" name="ri:github-fill" />
      <span class="hidden lg:inline-block">Github</span>
    </a>
  </div>
</div>
